body {
    margin: 0 auto;
}

p {
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-color: rgb(163, 230, 230);
    padding: 30px 18px;
}

.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-img {
    width: 250px;
    height: 250px;
}

.contact {
    background-color: rgb(194, 228, 228);
    padding: 30px 20px;
}

.contact-info {
    font-size: 20px;
    font-style: italic;
    margin-bottom: 20px;
}

li {
    margin-bottom: 10px;
}

.summary {
    background-color: rgb(163, 230, 230);
    padding: 30px 20px;
}

.summary-title {
    font-size: 20px;
    font-style: italic;
    margin-bottom: 20px;
}

.skills {
    background-color: rgb(194, 228, 228);
    padding: 30px 20px;
}

.skills-title {
    font-size: 20px;
    font-style: italic;
    margin-bottom: 20px;
}

.code-example {
    background-color: rgb(163, 230, 230);
    padding: 30px 20px;
}

.code-example-title {
    font-size: 20px;
    font-style: italic;
    margin-bottom: 20px;
}

.education {
    background-color: rgb(194, 228, 228);
    padding: 30px 20px;
}

.education-title {
    font-size: 20px;
    font-style: italic;
    margin-bottom: 20px;
}

.english {
    background-color: rgb(163, 230, 230);
    padding: 30px 20px;
}

.english-title {
    font-size: 20px;
    font-style: italic;
    margin-bottom: 20px;
}